<h2>Description</h2>

<p>Normally, the amount of tip is calculated as a percentage of the bill. So, our app will need to know the amount due and the desired tip percentage to do the calculations. In this stage, we will add the corresponding layout fields for the user to interact with. </p>

<p>The user should be able to input the bill value by hand, regulate the tip percentage with a slider, and see the calculation results in a text field.</p>

<h2>Objectives</h2>

<p>Add the following components to the application layout:</p>

<ol>
	<li><code class="java">EditText</code> field where the user enters the bill value with the <code class="java">id</code> attribute <code class="java">edit_text</code> and the <code class="java">inputType</code> attribute <code class="java">number</code>;</li>
	<li><code class="java">Slider</code> widget for specifying the tip percentage with the <code class="java">id</code> attribute <code class="java">slider</code>; the values range from 0 to 100 with the step size 1;</li>
	<li>An empty <code class="java">TextView</code> to later display the calculation result with the <code class="java">id</code> attribute <code class="java">text_view</code>.</li>
</ol>

<h2>Example</h2>

<p>Here is what your application will look like at the end of this stage:</p>

<p style="text-align: center;"><img alt="" height="484" src="https://ucarecdn.com/d6e072e3-2b0e-4387-8f91-2fe228bcac1d/" width="229"></p>